.headerContainer{
    background-color: #3498db;
    color: white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    width: 12rem;
    margin-left: 1rem;
}

.navList{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.navItem{
    margin: .2rem 2rem .2rem 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.navItem>a{
    display:flex;
    flex-direction:column;
    align-items:center;
    transition: color .3s ease-in-out;
}

.navDrop{
    display:flex;
    flex-direction:column;
    align-items:center;
    transition: color .3s ease-in-out;
}

.navDrop:hover{
    color: rgb(62, 62, 63);
}

.navDrop:active{
   color: white;
}

.navCaretDrop{
    display:flex;
    flex-direction:row;
    align-items:center;
    transition: color .3s ease-in-out;
}

.navIcon{
    font-size: 2rem;
    padding: .2rem;
}

.navItem>a:hover{
    color: rgb(62, 62, 63);
}

.navItem>a:active{
   color: white;
}


.navProfileIcon{
    font-size: 3rem;
}

.search{
    display: flex;
}

.search-input, .searchIcon{
    background-color: #ffffff;
    color: rgb(92, 87, 87);
    height: 2rem;
    padding: .8rem;
}

.search-input{
    outline: none;
    border: none;
    border-radius: 0 12px 12px 0;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input input:first-child{
    outline: none;
    border: none;
    border-radius: 0 12px 12px 0;
    width: 15rem;
}

.search-input input:last-child{
    width: .1px;
}

.searchIcon{
    display: flex !important;
    justify-content:center;
    align-items:center;
    border-radius: 12px 0 0 12px;
    width: 1.2rem;
}

