.loginContainer{
    background-color: #2f3031;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.loginInfo{
    background-color: white;
    width: 29vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.loginTitle>h1{
    margin-top: 7rem;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 3rem;
}

.loginTitle>h2{
    margin-top: .2rem;
    font-family: Montserrat;
}

.loginTitle>p{
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: #8A8A8A;
}

.loginForm{
    display: flex;
    flex-direction: column;

}

.loginEmailInput, .loginPasswordInput{
    background-color: #c4c4c4;
    height: 2rem;
    padding: .7rem;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 20rem;
}

.loginEmailLabel, .loginPasswordLabel{
    float: left;
    color: #888888;
}

.loginPasswordLabel{
    margin-top: 2rem;
}

.loginMeta, .loginMetaCheck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginMeta{
    margin-top: 1rem;
    color: #8A8A8A;
}

.loginMetaCheck>input{
    outline: none;
    margin-left: 1rem;
}

.loginMetaCheck>p{
    margin-left: 1rem;
}

.loginBtns{
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.loginBtn{
    border-radius: 15px;
    margin-top: 1rem;
    width: 10rem;
    padding: .8rem;
    font-size: 1.1rem;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .1s ease-in-out;
}

.loginSubmit{
    color: white;
    background-color: #514B4B;
}

.loginSubmit:hover{
    color: #514B4B;
    background-color: white;
}

.loginSubmit:active{
    color: white;
    background-color: #514B4B;
}

.loginSign{
    color: #514B4B;
    border: solid 1px #514B4B;
    margin-left: 1.5rem;
}

.loginSign:hover{
    color: white;
    background-color: #8f8c8c;
    border: solid 1px transparent;
}

.loginSign:active{
    color: #514B4B;
    background-color: white;
}

.loginAlt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.loginAlt>p{
    color: #8A8A8A;
}

.loginSocial{
    font-size: 2.4rem;
}

.loginLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.loginSocial svg:hover {
    color: rgb(124, 122, 122);
}

.loginSocial svg:active {
    color: rgb(235, 226, 226);
}

.loginFaCube{
    font-size: 33rem;
    color: white;
}