.postHistoryContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 53vh;
    border-radius: 70px;
    box-shadow: #0000007a 1px 12px 12px 0px;
    margin-bottom: 2rem;
}

.postHistoryTitle{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top:3rem;
}

.postHistoryItem{
    margin: 1.5rem 2.5rem 2.5rem 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postHistoryFaFile{
    font-size: 3rem;
    color: #514B4B;
    margin-right: 1rem;
}

.postHistoryName{
    font-weight: bolder;
    color: #514B4B;
}