.outerShortcuts{
    background-color: transparent;
    width: 20rem;
    height: 80vh;
    margin: 8rem 0 0 5rem;
}

.innerShortcuts{
    background-color: #1abc9c;
    color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 80vh;
    border-radius: 120px;
    box-shadow: #0000007a 1px 12px 12px 0px;
    position: fixed;
}

.shortTitle{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bolder;
}

.shortItem{
    font-size: 4rem;
    margin: 1.5rem 0 1rem 0;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.shortItem:hover{
    color: rgb(188, 238, 201);
}

.shortItem:active{
    color: white;
}