.adContainer{
    background-color: #334743;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 27vh;
    border-radius: 70px;
    box-shadow: #0000007a 1px 12px 12px 0px;
    margin-bottom: 2rem;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.adContainer:hover{
    color: rgb(48, 46, 46);
}

.adContainer:active{
    color: rgb(237, 217, 217);;
}

.adIcon{
    font-size: 10rem;
}

.adContainer>p{
    font-size: 1.3rem;
    font-weight: bolder;
}