@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Nunito";
}

body{
    background-color: #021c27fd;
    background-image: linear-gradient(#0e3a4dfd, #021c27fd);
    min-height: 100vh;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

textarea { 
    resize: none; 
}