@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Nunito";
}

body{
    background-color: #C4C4C4;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

textarea { 
    resize: none; 
}