.suggestionsContainer{
    background-color: #1abc9c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 43vh;
    border-radius: 70px;
    box-shadow: #0000007a 1px 12px 12px 0px;
    /* Remove this when you put chat bubbles back */
    /* ---------------- */
    margin-top: 5rem; 
    /* -------------- */
}

.suggestionsContainer>p{
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

.suggestionsContainer>ul{
    margin-top: 1.2rem;
}

.suggestionsContainer>ul>li{
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.suggestionsContainer>ul>li:hover{
    color: rgb(48, 46, 46);
}

.suggestionsContainer>ul>li:active{
    color: rgb(237, 217, 217);;
}

.suggestionsIcon{
    font-size: 3rem;
    margin-right: 2rem;
}

.suggestionsContainer>ul>li>p{
    font-size: 1.1rem;
    font-weight: bolder;
}